<div class="ui segment secondary basic padded">
    <h1 class="ui header"><%= @state.name %></h1>

    <table class="ui celled structured table center aligned">
      <thead>
        <tr>
          <th rowspan="2"></th>
          <% @roles.each do |role| %>
          <th colspan="<%= @ethnicities.size %>"><%= role.name %></th>
          <% end %>
        </tr>
        <tr>
          <% @roles.each do |_| %> <% @ethnicities.each do |ethnicity| %>
          <th><%= ethnicity.name %></th>
          <% end %> <% end %>
        </tr>
      </thead>
      <tfoot>
        <th rowspan="2"></th>
        <tr>
          <% @roles.each do |_| %> <% @ethnicities.each do |ethnicity| %>
          <th><%= ethnicity.name %></th>
          <% end %> <% end %>
        </tr>
        <tr>
          <th rowspan="2"></th>
          <% @roles.each do |role| %>
          <th colspan="<%= @ethnicities.size %>"><%= role.name %></th>
          <% end %>
        </tr>
      </tfoor>
      <tbody>
        <% @parties.each do |party| %>
        <tr>
          <td><%= party.shortname %></td>
          <% @roles.each do |role| %> <% @ethnicities.each do |ethnicity| %>
          <td>
            <%= @grouped.dig(party.id, role.id, ethnicity.id)&.amount || "" %>
          </td>
          <% end %> <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
